.header{
    background-color: #fff;
    overflow: hidden;
    height: 2.8rem;
    border-bottom: 1px solid #ccc;
    /* text-align: center; */
    padding:.3rem;
}

.headerlogo{
    color: pink;
    font-size: 1.4rem;
    text-align: left;
}
.headertext{
    font-size: 6rem;
    color: #999;
    display: inline-block;
    padding-left: .3rem;
}
